
app-title-bar {    
    background-color: #2196f3;
    width: 100%;
    flex-shrink: 0;
    -webkit-app-region: drag;
}

app-title-bar .window-logo {
    float:left;
    padding: 10px;
}
app-title-bar .window-title {    
    float: left;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
}
app-title-bar .window-controls {
    float: right;
}
app-title-bar .window-btn {
    color: rgb(230, 226, 226);
    padding: 11px 18px;
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    transition: background-color .1s;
}

app-title-bar .window-btn:active,
app-title-bar .window-btn:focus { outline: none; }
app-title-bar .window-btn:hover { background-color: rgba(128, 128, 128, .4); color: #fff; }
app-title-bar .window-btn.close:hover { background-color: rgba(255, 0, 0, .8); }
