/* You can add global styles to this file, and also import other style files */
html, body {        
    display: flex;
    font: caption;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;    
    padding: 0;    
    width: 100%;    
}

h1,.no-select {
    cursor: default;
    -webkit-user-select: none;
	user-select: none;	
}

.link, .link:hover { text-decoration: underline; }

/* 
   Background animation 
   https://codepen.io/asfarmed/pen/cfslr?page=1&
*/
body{
    background: #2980b9 url('./assets/img/bg-gray.png') repeat 0 0;
	-webkit-animation: 15s linear 0s normal none infinite animate;
	-moz-animation: 15s linear 0s normal none infinite animate;
	-ms-animation: 15s linear 0s normal none infinite animate;
	-o-animation: 15s linear 0s normal none infinite animate;
	animation: 15s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}